<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment/pageheader :: head"></head>

<body id="page-top">

<div th:replace="fragment/navmenu :: navmenu"/>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Add a new player</h1>



        <div class="container-fluid">

            <form action="#" method="post" th:action="@{/submitPlayer}" th:object="${playerFormDto}">
            <div class="row col-lg-12">
              <div class="form-group row">
                <label class="col-12 col-form-label" for="number">Number:</label>
                <div>
          <input class="form-control"  th:field="${playerFormDto.number}" type="number" min="1" required>
                </div>
              </div>


              <div class="form-group row">
                <label class="col-12 col-form-label" for="firstname">Firstname:</label>
                <div>
                  <input class="form-control" th:field="${playerFormDto.firstName}" type="text" required>
                </div>
              </div>


              <div class="form-group row">
                <label class="col-12 col-form-label" for="lastname">Lastname:</label>
                <div>
                  <input class="form-control" th:field="${playerFormDto.lastName}" type="text" required>
                </div>
              </div>


              <div class="form-group row mb-3">


                <label class="col-12 col-form-label" for="team">Team:</label>


                <div>
                  <select class="form-control" th:field="${playerFormDto.teamId}" required>
                    <option value="">Select one</option>
                    <option th:each="team : ${teamList}" th:value="${team.id}" th:text="${team.team}"></option>
                  </select>
                </div>
              </div>

              <div class="form-group row mb-3">
                <label class="col-12 col-form-label" for="position">Position:</label>
                <div>
                  <select class="form-control" th:field="${playerFormDto.position}" required>
                    <option value="">Select one</option>
                      <option th:each="position : ${playerFormDto.allPositions}" th:value="${position}" th:text="${position}"></option>
                  </select>
                </div>
              </div>

              <div class="d-grid gap-2 col-6 mx-auto mt-3" style="padding-bottom:20px;">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>

        </div>
          <!-- /.container-fluid -->

      </div>
       <!-- End of Main Content -->
</div>

  <!-- Footer -->
  <div th:replace="fragment/copyright :: copyright"/>
  <!-- End of Footer -->

</div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

<div th:replace="fragment/logoutmodal :: logout"/>
    </div>
  </div>
</div>
</div>

</body>
<div th:replace="fragment/pagefooter :: pagefooter"/>
</html>