<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment/pageheader :: head"></head>

<body id="page-top">

<div th:replace="fragment/navmenu :: navmenu"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Add a new team</h1>


                <div class="container-fluid">

    <form action="#" method="post" th:action="@{/submitTeam}" th:object="${teams}">
        <div class="row col-lg-12">
            <div class="form-group row">
                <label class="col-12 col-form-label" for="name">Name:</label>
                <div>
                    <input class="form-control" th:field="${teams.team}" type="text" required >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="rank">Ranking:</label>
                <div>
                    <input class="form-control" th:field="${teams.ranking}" type="number" min="1" required>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-12 col-form-label" for="league">League:</label>
                <div>
                    <select class="form-control" th:field="${teams.liga}" required>
                        <option value="">Select one</option>
                        <option th:each="league : ${leagueList}" th:value="${league}" th:text="${league}"></option>
                    </select>
                </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto mt-3">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>

        </div>

    </form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
           </div>

                    <!-- Footer -->
                    <div th:replace="fragment/copyright :: copyright"/>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

<div th:replace="fragment/logoutmodal :: logout"/>
        </div>
    </div>
</div>

</div>

</body>
<div th:replace="fragment/pagefooter :: pagefooter"/>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>